<h1>Listing articles</h1>
<% if !@articles || @articles.empty? %>
      <h4>
        No articles found
      </h4>
<% else %>
	<table class="table table-striped">
	  <tr>
	  	<th></th>
	    <th>Title</th>
	    <th>Last modification</th>
	  </tr>
	<%= render @articles %>
	
	</table>
<% end %>

<br />

<%= link_to 'New Article', new_article_path, :class => 'btn btn-primary' %>
