<h2><%= @history.article.title%></h2>
<h5>changes on <%= @history.created_at.to_s(:long)%></h5>
<%= raw @diff%></td>
<br>
<%= link_to 'Back', article_histories_path(@history.article), :class => 'btn btn-info btn-mini' %> |